- provide(:title, 'Sign In')
= render 'session_header'

.row
  .col-md-3
    = simple_form_for :signin, method: 'POST' do |f|
      = f.input :handle, label: 'Username'
      = f.input :password
      %p.text-right= f.button :submit, 'Sign In', class: 'btn-default'

  .col-md-4.col-md-offset-1
    %h2 User
    %p Username: demo_user
    %p Password: harmonize

  .col-md-4
    %h2 Admin
    %p Username: demo_admin
    %p Password: harmonize
