- provide(:title, 'Sign In')
= render 'session_header'

.row
  .col-md-3
    = simple_form_for :signin, method: 'POST' do |f|
      = f.input :handle, label: 'Username'
      = f.input :password
      %p.text-right= f.button :submit, 'Sign In', class: 'btn-default'

  .col-md-8.col-md-offset-1
    %h2 Demo Credentials
    %p User Name: demo
    %p Password: harmonize
