- provide(:title, 'Assignments')
= render 'assignment_header'

%table
  %thead
    %tr
      %th{scope: "col"} Description
      %th{scope: "col"} Status
      %th{scope: "col"} Priority
      %th{scope: "col"} Start Date
      %th{scope: "col"} Target Date
      %th{scope: "col"} Deadline
      %th{scope: "col"} Completed
      %th{scope: "col"} Notes
  %tbody
    - @assignment.each do |assignment|
      %tr
        %th.bold_name{scope: "row"}= assignment.description
        %td= assignment.status
        %td= assignment.priority
        %td= assignment.start_date
        %td= assignment.target_date
        %td= assignment.deadline
        %td= assignment.completed
        %td= assignment.notes
