%table.table.table-hover#sm-table
  %tbody
    %tr
      %th Google Plus
      %td= data_format(klass.social_media.google_plus)
    %tr
      %th Github
      %td= data_format(klass.social_media.github)
    %tr
      %th Twitter
      %td= data_format(klass.social_media.twitter)
    %tr
      %th Skype
      %td= data_format(klass.social_media.skype)
    %tr
      %th Coderwall
      %td= data_format(klass.social_media.coderwall)
    %tr
      %th LinkedIn
      %td= data_format(klass.social_media.linkedin)
    %tr
      %th Facebook
      %td= data_format(klass.social_media.facebook)
