= simple_form_for(@task, remote: true) do |f|
  %form
    %fieldset
    = f.input :description,
      input_html: { class: 'text_input', id: 'regular_field', maxlength: 50 }
    = f.input :deadline, as: :datepicker, label: 'Due Date',
      input_html: { class: 'text_input' }
    = f.input :deadline, as: :time,       label: 'Time Due', ampm: true,
      minute_step: 15
    = render partial: 'shared/submit_center', locals: { f: f }
