%section{style: 'display:none;', class: 'task_form'}
  = simple_form_for(@task, remote: true) do |f|
    %form
      %fieldset
        %legend.bold_title New Task
        = f.input :description,
          input_html: { id: 'regular_field', maxlength: 50 }
        = f.input :deadline, as: :datepicker, label: 'Due Date'
        = f.input :deadline, as: :time,       label: 'Time Due', ampm: true
      %section.button_center
        %p
          = f.button :submit, 'Create', class: 'btn btn-6 btn-6j'
          = link_to '#' do
            %button.btn.btn-6.btn-6j#cancel_task Cancel
