= simple_form_for @task, remote: true do |f|
  .row
    .col-md-1
    .col-md-6
      = f.input :description, as: :text
  .row
    .col-md-1
    .col-md-4
      = f.input :deadline,    as: :datetimepicker
    .col-md-4#task-form-buttons
      %button.btn.btn-default Close
      = f.button :submit, 'Submit', id: 'task-submit'

= javascript_include_tag 'datetimepicker'
