- content_for :page_header do
  %h1 Tasks

  %nav
    %ul
      %li
        - if current_user.admin?
          = link_to admin_root_path do
            %button.header-btn.btn-1.btn-1c= icon('eye', 'Admin')
      %li
        = link_to root_path do
          %button.header-btn.btn-1.btn-1c= icon('home', 'Home')
      %li
        = link_to tasks_path do
          %button.header-btn.btn-1.btn-1c= icon('tasks', 'Pending')
      %li
        - if current_user.admin?
          = link_to completed_tasks_path do
            %button.header-btn.btn-1.btn-1c= icon('archive', 'Completed')
