= content_tag_for(:li, task, 'data-id' => task.id) do
  = task.description
  %br
  = datetime_format(task.deadline)
  = link_to 'Edit', edit_task_path(task), remote: true, id: 'edit_task'
  = link_to 'Delete', task, remote: true, method: :delete,
    data: { confirm: 'Are you sure?' }
  = link_to 'Complete', { action: 'complete', id: task.id },
    method: :complete, data: { confirm: "Set task as completed" }
