%li
  = task.description
  = button_to 'Complete', { action: 'complete', id: task.id }, method: :complete,
    data: { confirm: "Set task as completed" }
  %br
  %time= l task.deadline, format: :america
  = link_to 'Edit', edit_task_path(task)
  = link_to 'Delete', task, remote: true, method: :delete,
    data: { confirm: 'Are you sure?' }
