= render 'dashboard_header'

.row
  %h2 Accounts

.row#pie-donut
  .col-md-4.stats
    %ul.list-group
      %li.list-group-item.text-muted Accounts

      %li.list-group-item.text-right
        %span.pull-left
          Accounts
        = @accounts.count

      %li.list-group-item.text-right
        %span.pull-left
          Active
        #{@accounts.inactive_total} / #{@accounts.active_total} 

  .col-md-6.col-md-push-2
    #active-vs-inactive

.row
  .col-md-8.col-md-pull-1
    #user-active-inactive

  .col-md-3
    = render 'accounts_per_user_sliders'

= render 'active_vs_inactive_chart'

= render 'accounts_per_user'
