= render 'dashboard_header'

.row
  %h2 Accounts

.row
  .col-md-4.stats
    %ul.list-group
      %li.list-group-item.text-muted Accounts

      %li.list-group-item.text-right
        %span.pull-left
          Accounts
        = @accounts.count

      %li.list-group-item.text-right
        %span.pull-left
          Active
        #{@accounts.inactive_total} / #{@accounts.active_total} 

    #active-vs-inactive

  .col-md-6.col-md-push-2.stats
    = bar_chart @users.only_admins.map{ |u| [u.handle, u.accounts.count] },
      library: { tooltip: { pointFormat: 'Total: {point.y}' } }

= render 'active_vs_inactive_chart'
