- provide(:title, 'New Account')
- content_for :page_header do
  %h1 Account

.row
  .col-md-3
    = simple_form_for @user do |f|
      %legend.bold_title New Account
      = f.input :handle, label: 'Username'
      = f.input :password
      = f.input :password_confirmation, label: 'Password Confirmation'
      = f.button :submit, 'Create Account'
