%table.table.table-hover#pb-table
  %tbody
    %tr
      %th Office
      %td= phone_format(klass.phone.office)
    %tr
      %th Mobile
      %td= phone_format(klass.phone.mobile)
    %tr
      %th Fax
      %td= phone_format(klass.phone.fax)
    %tr
      %th Home
      %td= phone_format(klass.phone.home)
    %tr
      %th Toll
      %td= phone_format(klass.phone.toll)
