= builder.input :google_plus, label: 'Google Plus'
= builder.input :github
= builder.input :twitter
= builder.input :skype
= builder.input :coderwall
= builder.input :linkedin
= builder.input :facebook
