.row#modal-form
  .col-md-8
  .col-md-4
    = simple_form_for @event, remote: true, html: { class: 'form-inline' } do |f|
      .row
      = f.input :title
      .row
      = f.input :start_time, as: :datetime,  label: 'Start'
      .row
      = f.input :end_time,   as: :datetime,  label: 'End'
      .row
      = f.input :description, as: :text, input_html: { rows: 5 }
      %span.form-action-inline
        %button.btn.btn-default#modal-close(type="button"
          data-dismiss="modal")
          Close
        = f.button :submit
