= simple_form_for @event do |f|
  %form
    %fieldset
      %legend.bold_title New Event
      = f.input :title
      = f.input :start_time,  as: :datepicker,  label: 'Start'
      = f.input :end_time,    as: :datepicker,  label: 'End'
      = f.label :description
      = f.input_field :description, as: :text
      %section.button_center
        %p
          = f.button :submit, class: 'btn btn-form btn-6 btn-6j'
