.row#modal-form
  .col-md-8
  .col-md-3
    = simple_form_for @event, remote: true do |f|
      = f.input :title
      = f.input :start_time,  as: :datetimepicker,   label: 'Start'
      = f.input :end_time,    as: :datetimepicker,   label: 'End'
      = f.input :description, as: :text, input_html: { rows: 5 }
      %span.form-action-inline
        %button.btn.btn-default#modal-close(type="button"
          data-dismiss="modal")
          Close
        = f.button :submit
  .col-md-1

:coffeescript
  $ ->
    $('#datetimepicker10').datetimepicker()
    return
