<%= simple_form_for @event, wrapper_html: { id: 'event_form' } do |f| %>
  <ul>
    <li><%= f.input :title                                      %></li>
    <li><%= f.input :description, as: :text                     %></li>
    <li><%= f.input :start_time,   as: :datetime, label: 'Start' %></li>
    <li><%= f.input :end_time,     as: :datetime, label: 'End'   %></li>
    <li><%= f.input :all_day,     as: :check_boxes              %></li>
  </ul>
  <span>
    <%= f.button :submit, class: "button button-pill button-flat-primary" %>
  </span>
  <span id="creating_events" class="spinner" style="display:none;">
    Creating, Please Wait...
  </span>
<%end %>
