<%= simple_form_for @event, wrapper_html: { id: 'event_form' } do |f| %>
  <ul>
    <li><%= f.input :title                                      %></li>
    <li><%= f.input :description, as: :text                     %></li>
    <li><%= f.input :starttime,   as: :datetime, label: 'Start' %></li>
    <li><%= f.input :endtime,     as: :datetime, label: 'End'   %></li>
    <li><%= f.input :all_day,     as: :check_boxes              %></li>
    <li><%= f.input :period,      collection: Event::REPEATS    %></li>
    <li><%= f.input :frequency,   collection: 1..30             %></li>
  </ul>
  <span id="project_submit">
    <%= f.button :submit, class: "button button-pill button-flat-primary" %>
  </span>
  <span id="creating_events" class="spinner"style="display:none;">
    Creating, Please wait...
  </span>
<%end %>
