= simple_form_for @event do |f|
  %form
    %fieldset
      %legend.bold_title New Event
      = f.input :title
      = f.input :start_time,  as: :datepicker,  label: 'Start'
      = f.input :end_time,    as: :datepicker,  label: 'End'
      = f.input :description, as: :text
      %section.button_center
        = f.button :submit, class: 'button button-pill button-flat-primary'
