- provide(:title, @event.title)
= render 'event_header'

.table_container
  %table#project_details.profile
    %thead
      %tr
        %th{colspan: '2'} Event Details
    %tbody
      %tr
        %th Title
        %td.profile_spacing= @event.title
      %tr
        %th Description
        %td.profile_spacing= @event.description
      %tr
        %th All Day
        %td.profile_spacing= @event.all_day
      %tr
        %th Start Time
        %td.profile_spacing= @event.start_time
      %tr
        %th End Time
        %td.profile_spacing= @event.end_time

%nav
  %ul
    %li
      = link_to edit_event_path(@event) do
        %button.btn.btn-6.btn-6j Edit
    %li
      = link_to @event, method: :delete do
        %button.btn.btn-6.btn-6j Delete
    %li
      = link_to events_path do
        %button.btn.btn-6.btn-6j Back
