- content_for :page_header do
  %h1 Contacts

  %nav
    %ul
      %li
        = link_to root_path do
          %button.header-btn.btn-1.btn-1c= icon('home', 'Home')
      %li
        = link_to contacts_path do
          %button.header-btn.btn-1.btn-1c= icon('archive', 'All')
      %li
        - if current_user.admin?
          = link_to new_contact_path do
            %button.header-btn.btn-1.btn-1c= icon('user', 'New')
