= content_tag_for(:tr, contact, 'data-id' => contact.id)
%tr
  %th.bold_name{scope: "row"}= contact.name
  %td= data_format(contact.company)
  %td= data_format(contact.email)
  %td= phone_format(contact.phone.office)
  %td= phone_format(contact.phone.mobile)
  %td= link_to 'Show', contact, class: 'btn', id: 'btn-index-show'
