.col-md-4
  .panel.panel-default
    .panel-heading
      Contact Info
      %span.panel-right
        = link_to 'Edit', '#', id: 'contact-info-panel'

    %table.table.table-hover      
      %tbody
        %tr
          %th First Name
          %td= @contact.first_name
        %tr
          %th Last Name
          %td= @contact.last_name
        %tr
          %th Company
          %td= data_format(@contact.company)
        %tr
          %th Email
          %td= @contact.email
        %tr
          %th Secondary Email
          %td= data_format(@contact.secondary_email)
        %tr
          %th Notes
          %td= data_format(@contact.notes)

    %section{ style: 'display:none;', id: 'edit-ci-form' }
      = simple_form_for(@contact) do |f|
        = f.input :first_name, label: 'First Name'
        = f.input :last_name, label: 'Last Name'
        = f.input :company
        = f.input :email
        = f.input :secondary_email, label: 'Secondary Email'
        = f.input :notes, as: :text, input_html: { rows: 5 }
        = f.button :submit
