= f.input :first_name, label: 'First Name'
= f.input :last_name, label: 'Last Name'
= f.input :company
= f.input :email
= f.input :secondary_email, label: 'Secondary Email'
= f.input :notes, as: :text, input_html: { rows: 5 }
