%tr

  %td
    = non_programmer_format(contact_counter)

  %th.bold_name{ scope: 'row' }
    = link_to contact.contact_name, contact
  
  %td
    = data_format(contact.company)
  
  %td
    = phone_format(contact.phone.office)

  %td
    = phone_format(contact.phone.mobile)

  %td
    = l contact.created_at, format: :index_table