%table.table.table-hover#ci-table
  %tbody
    %tr
      %th First Name
      %td= @contact.first_name
    %tr
      %th Last Name
      %td= data_format(@contact.last_name)
    %tr
      %th Company
      %td= data_format(@contact.company)
    %tr
      %th Notes
      %td= data_format(@contact.notes)
    %tr
      %th Created By
      %td= @contact.user.handle
    %tr
      %th Created At
      %td= l @contact.created_at, format: :profile
    %tr
      %th Last Updated
      %td= l @contact.updated_at, format: :profile
