.panel.panel-default.panel-borderless
  .panel-heading
    Contact Info
    = link_to 'edit', '#', class: 'edit-panel', id: 'ci-panel'

  = render 'contact_info_table'

%section#edit-ci-form{ style: 'display:none;' }
  = simple_form_for @contact do |f|
    = render 'contact_form', f: f
    %p.text-right
      %button.btn.btn-default#close-ci Close
      = f.button :submit, class: 'btn-default'
