= simple_form_for @contact do |f|
  %form
    %fieldset
      %legend.bold_title New Contact
      = f.input :first_name, label: 'First Name'
      = f.input :last_name,  label: 'Last Name'
      = f.input :company
      = f.input :email
      = f.input :secondary_email, label: 'Secondary Email'
      = f.input :notes, as: :text
    %fieldset
      %legend.bold_title New Phone
      = f.simple_fields_for :phone do |ff|
        = ff.input :office
        = ff.input :mobile
        = ff.input :fax
        = ff.input :home
      %section.button_center
        = f.button :submit, class: 'button button-pill button-flat-primary'
