<details class="form_info required">
  * Fields Required
</details>

<%= simple_form_for @contact do |f| %>

<form>
  <fieldset>
  <legend class="bold_title">New Contact</legend>

    <ul>
      <li><%= f.input :first_name,      label: "First Name" %></li>
      <li><%= f.input :last_name,       label: "Last Name" %></li>
      <li><%= f.input :email,           label: "Email" %></li>
      <li><%= f.input :secondary_email, label: "Secondary Email"%></li>
      <li><%= f.input :notes, as: :text %></li>

      <%= f.simple_fields_for :phone do |ff| %>
        <li><%= ff.input :office,  required: false%></li>
        <li><%= ff.input :mobile,  required: false %></li>
        <li><%= ff.input :fax,     required: false %></li>
        <li><%= ff.input :home,    required: false %></li>
      <% end %>
    </ul>
    <span id="project_submit">
      <%= f.button :submit, :class => "button button-pill button-flat-primary" %>
    </span>
  </fieldset>
</form>
<% end %>
