= simple_form_for @contact do |f|
  .col-md-4.new-contact= render 'contact_form', f: f
  
  .col-md-3.new-contact
    = f.simple_fields_for :phone, @contact.build_phone do |builder|
      = render 'shared/phone_form', builder: builder
  
  .col-md-4.new-contact
    = f.simple_fields_for :social_media, @contact.build_social_media do |builder|
      = render 'shared/social_media_form', builder: builder
    %p.text-right= f.button :submit, 'Create Contact', class: 'btn-default'
