.panel.panel-default.panel-borderless
  .panel-heading
    Phone Book
    = link_to 'edit', '#', class: 'edit-panel', id: 'pb-panel'
  
  = render 'phone_book_table'

%section#edit-pb-form{ style: 'display:none;' }
  = simple_form_for @contact do |f|
    = f.simple_fields_for :phone, @contact.build_phone do |builder|
      = render 'shared/phone_form', builder: builder
    %p.text-right
      %button.btn.btn-default#close-pb Close
      = f.button :submit, 'Update Phone Book', class: 'btn-default'
