%table.table.table-hover#pb-table
  %tbody
    %tr
      %th Office
      %td= phone_format(@contact.phone.office)
    %tr
      %th Mobile
      %td= phone_format(@contact.phone.mobile)
    %tr
      %th Fax
      %td= phone_format(@contact.phone.fax)
    %tr
      %th Home
      %td= phone_format(@contact.phone.home)
    %tr
      %th Toll
      %td= phone_format(@contact.phone.toll)
