.panel.panel-default.panel-borderless
  .panel-heading
    Social Media
    %span.panel-right= link_to 'edit', '#', class: 'edit-panel', id: 'sm-panel'

  = render 'social_media_table'

%section#edit-sm-form{ style: 'display:none;' }
  = simple_form_for @contact do |f|
    = f.simple_fields_for :social_media, @contact.build_social_media do |builder|
      = render 'shared/social_media_form', builder: builder
    %p.text-right
      %button.btn.btn-default#close-sm Close
      = f.button :submit, 'Update Social Media', class: 'btn-default'
