.col-md-4
  .panel.panel-default
    .panel-heading
      Contact Info
      %span.panel-right
        = link_to 'Edit', '#', id: 'social-media-panel'

    %table.table.table-hover#social-media-table
      %tbody
        %tr
          %th Skype
          %td= data_format(@social_media.skype)
        %tr
          %th Google Plus
          %td= data_format(@social_media.google_plus)
        %tr
          %th Github
          %td= data_format(@social_media.github)
        %tr
          %th LinkedIn
          %td= data_format(@social_media.linkedin)
        %tr
          %th Twitter
          %td= data_format(@social_media.twitter)
        %tr
          %th Facebook
          %td= data_format(@social_media.facebook)
        %tr
          %th Coderwall
          %td=data_format(@social_media.coderwall)

    %section{ style: 'display:none;', id: 'edit-sm-form' }
      = simple_form_for(@contact) do |f|
        = f.simple_fields_for :social_media do |ff|
          = ff.input :skype
          = ff.input :google_plus, label: 'Google Plus'
          = ff.input :github
          = ff.input :linkedin
          = ff.input :twitter
          = ff.input :facebook
          = ff.input :coderwall
        %span.btn-update-contact
          = f.button :submit

