- provide(:title, 'Contacts Index')
= render 'contact_header'

%table
  %thead
    %tr
      %th{scope: "col"} Contact Name
      %th{scope: "col"} Company
      %th{scope: "col"} Email
      %th{scope: "col"} Office Phone
      %th{scope: "col"} Mobile Phone
      %th{scope: "col"} Actions
  %tbody
    - @contacts.each do |contact|
      %tr
        %th.bold_name{scope: "row"}= contact.name
        %td= data_format(contact.company)
        %td= contact.email
        %td= phone_format(contact.phone.office)
        %td= phone_format(contact.phone.mobile)
        %td.table_actions
          = link_to 'Show', contact
          %br/
          = link_to 'Edit', edit_contact_path(contact)
          %br/
          = link_to 'Delete', contact, method: :delete,
            data: { confirm: 'Are you sure?' }
