- provide(:title, 'Contacts')
= render 'contact_header'

.col-md-10
  .panel.panel-default
    .panel-heading
      Contacts
      %span.pull-right
        = page_entries_info @contacts
    .panel-body
      = render 'shared/index_panel', url: contacts_path

    %table.table.table-hover
      %thead
        %tr
          %th{ scope: 'col' } #
          %th{ scope: 'col' } Contact Name
          %th{ scope: 'col' } Company
          %th{ scope: 'col' } Office Phone
          %th{ scope: 'col' } Mobile Phone
          %th{ scope: 'col' } Created
      %tbody= render @contacts

.row
  .col-md-6.col-md-push-2= will_paginate @contacts
