- provide(:title, @contact.name)
= render 'contact_header'

= render 'navbar'

.row.profile-tables
  .col-md-4= render 'contact_info'
  .col-md-4= render 'phone_book'
  .col-md-4= render 'social_media'
