<% provide(:title, @contact.name) %>

<% content_for :page_header do %>
<h1>Details <small class="header_right">Contact</small></h1>
<% end %>

<h2><%= @contact.name %></h2>

<p>First Name:    <%= @contact.first_name %>  </p>
<p>Last Name:     <%= @contact.last_name %>   </p>
<p>Email:         <%= @contact.email %>       </p>

<p>Office:        <%= @phone.office %>        </p>
<p>Mobile:        <%= @phone.mobile %>        </p>
<p>Fax:           <%= @phone.fax %>           </p>
<p>Home:          <%= @phone.home %>          </p>

<%= link_to 'Edit Contact', edit_contact_path(@contact) %>

<%= link_to 'Delete Contact', @contact, :method => :delete,
  data: { confirm: 'Are you sure you want to delete this contact?' } %>
