- provide(:title, @contact.name)
= render 'contact_header'

= render 'navbar'

.row.profile-tables
  .col-md-4= render 'contact_info'
  .col-md-4= render partial: 'shared/phone_book',   locals: { klass: @contact }
  .col-md-4= render partial: 'shared/social_media', locals: { klass: @contact }
