- provide(:title, @contact.name)
= render 'contact_header'

%nav.navbar.navbar-inverse#contact-subnav
  %h2= @contact.name

.row#contact-profile
  = render 'contact_info'
  = render 'phone_book'
  = render 'social_media'
