<%= form_for(@project) do |f| %>
<%= f.error_messages %>

  <form>
    <fieldset id="new_project">
    <legend>New Project</legend>
      <ul id="new_project">
        <li>
          <%= f.label :name %>
          <%= f.text_field :name %>
        </li>

        <li class="radio">
          <%= f.label :status %><br />
          <%= f.radio_button(:status, 'Not Started') %>
          <%= f.label(:status, 'Not Started') %><br />
          <%= f.radio_button(:status, 'In Progress') %>
          <%= f.label(:status, 'In Progress') %><br />
          <%= f.radio_button(:status, 'Completed') %>
          <%= f.label(:status, 'Completed') %> 
        </li>

        <li class="radio">
          <%= f.label :priority %><br />
          <%= f.radio_button(:priority, 'Low') %>
          <%= f.label(:priority, 'Low') %><br />
          <%= f.radio_button(:priority, 'High') %>
          <%= f.label(:priority, 'High') %><br />
          <%= f.radio_button(:priority, 'Urgent') %>
          <%= f.label(:priority, 'Urgent') %><br />
          <%= f.radio_button(:priority, 'N/A') %>
          <%= f.label(:priority, 'N/A') %> 
        </li>
        
        <li>
          <%= f.label :notes %>
          <%= f.text_area :notes %>
        </li>
      </ul>
    </fieldset>

    <fieldset>
    <legend>Project Dates</legend>
      <ul>
        <li>
          <%= f.label :start_date %>
          <%= f.date_select :start_date, :order => [:month, :day, :year] %> 
        </li>

        <li>
          <%= f.label :target_date %>
          <%= f.date_select :target_date, :order => [:month, :day, :year] %>
        </li>

        <li>
          <%= f.label :deadline %>
          <%= f.date_select :deadline, :order => [:month, :day, :year] %> 
        </li>

        <li>
          <%= f.label :completion_date %>
          <%= f.date_select :completion_date, :order => [:month, :day, :year] %>    
        </li>

      </ul>
      <%= f.submit %>
  </fieldset>
</form>
<% end %>
