<details class="form_info required">
  * Fields Required
</details>

<%= simple_form_for @project do |f| %>

<form id="new_project" >
  <fieldset class="projects" id="new_details">
  <legend class="bold_title">Project Details</legend>

    <ul class="flex_details">
      <li class="details_item">
        <%= f.input :name %>
      </li>
      <li class="details_radio">
        <%= f.input :status, as: :radio_buttons, 
                    collection: Project::STATUS_OPTIONS %>
      </li>
    </ul>

    <ul class="flex_details">
      <li class="details_item">
        <%= f.input :role %>
      </li>
      <li class="details_radio">
        <%= f.input :priority, as: :radio_buttons,
                    collection: Project::PRIORITY_OPTIONS %>
      </li>
    </ul>
    <%= f.input :notes, as: :text %>

  </fieldset>

  <fieldset class="projects" id="dates">
  <legend class="bold_title" align="right">Project Dates</legend>
    <details class="form_info" id="date">
      Dates must have Month, Day, and Year to be saved
    </details>
    <ul class="flex_dates">
      <li><%= f.input :start_date, as: :datepicker %></li>
      <li><%= f.input :target_date, as: :datepicker %></li>
      <li><%= f.input :deadline, as: :datepicker %></li>
      <li><%= f.input :completion_date, as: :datepicker %></li>
    </ul>
    <span id="project_submit">
      <%= f.button :submit, "Create Project", :class => "button button-pill button-flat-primary" %>
    </span>
  </fieldset>
</form>
<% end %>
