%nav.profile_links
  %ul
    %li
      = link_to @project do
        %button.purebtn Profile
    %li
      = link_to project_assignments_path(@project) do
        %button.purebtn Assignments
    %li
      = link_to '#' do
        %button.purebtn#new_assignment New Assignment
    %li
      = link_to edit_project_path(@project) do
        %button.purebtn Edit
    %li
      = link_to @project, method: :delete, data: { confirm: 'Are you sure?' } do
        %button.purebtn Delete