%nav.profile_links
  %ul
    %li
      = link_to @project do
        %button.btn.btn-primary.btn-lg Profile
    %li
      = link_to project_assignments_path(@project) do
        %button.btn.btn-primary.btn-lg Assignments
    %li
      = link_to '#' do
        %button.btn.btn-primary.btn-lg#new_assignment New Assignment
    %li
      = link_to edit_project_path(@project) do
        %button.btn.btn-primary.btn-lg Edit
    %li
      = link_to @project, method: :delete, data: { confirm: 'Are you sure?' } do
        %button.btn.btn-primary.btn-lg Delete
