- provide(:title, 'Projects Index')
- content_for :page_header do
  %h1
    Index
    %span.header_right
      Projects

%nav.site_links
  %ul
    %li
      = link_to root_path do
        %i.fa.fa-home.fa-2x
    %li
      = link_to "New Project", new_project_path,
        class: "button button-pill button-flat-primary"
%table
  %thead
    %tr
      %th{scope: "col"} Project Name
      %th{scope: "col"} Actions
  %tbody
    - @projects.each do |project|
      %tr
        %th.bold_name{scope: "row"}= link_to project.name, project
        %td.table_actions
          = link_to 'Show', project
          %br/
          = link_to 'Edit', edit_project_path(project)
          %br/
          = link_to 'Delete', project, method: :delete,
            data: { :confirm => 'Are you sure?' }
