- provide(:title, 'Projects Index')
= render 'project_header'

%nav.site_links
  %ul
    / %li
    /   = link_to 'All Projects', root_path,
    /     class: 'button button-pill button-flat-primary'
    / %li#new_assignment
    /   = link_to 'New Assignment', "#",
    /     class: 'button button-pill button-flat-primary'
    / %li
    /   = link_to 'New Project', new_project_path,
    /     class: 'button button-pill button-flat-primary'

%table.project_table
  %thead
    %tr
      %th{scope: 'col'} Project Name
      %th{scope: 'col'} Website
      %th{scope: 'col'} Employer
      %th{scope: 'col'} Actions
  %tbody
    - @projects.each do |project|
      %tr
        %th.bold_name{scope: 'row'}= link_to project.name, project
        %td= project.website
        %td= project.employer
        %td.table_actions
          = link_to 'Show', project
          %br/
          = link_to 'Edit', edit_project_path(project)
          %br/
          = link_to 'Delete', project, method: :delete,
            data: { :confirm => 'Are you sure?' }

/ .assignments(style="display:none;")
/ = simple_form_for @assignment do |f|
/   %form
/     %fieldset
/       %legend.bold_title New Assignment
/       = f.input :name, as: :select, label: 'Project Name',
/         collection: @project