<% provide(:title, 'Projects Index') %>

<% content_for :page_header do %>
<h1>Index <small class="header_right">Projects</small></h1>
<% end %>

<nav class="site_links">
  <ul>
    <li>
      <%= link_to root_path do %><i class="fa fa-home fa-2x"></i>
    </li>
    <li>
      <%= link_to "New Project", new_project_path, 
          class: "button button-pill button-flat-primary" %>
    </li>
  </ul>
<% end %>
</nav>

<table>

  <thead>
    <tr>
      <th scope="col">Project Name</th>
      <th scope="col">Role</th>
      <th scope="col">Status</th>
      <th scope="col">Priority</th>
      <th scope="col">Start Date</th>
      <th scope="col">Deadline</th>
      <th scope="col">Completion Date</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
    <tr>
    
      <th class="bold_name" scope="row"><%= link_to project.name, project %></th>

      <td><%= project.role %></td>
      <td><%= project.status %></td>
      <td><%= project.priority %></td>
      <td><%= project.table_date_format(project.start_date) %></td>
      <td><%= project.table_date_format(project.deadline) %></td>
      <td><%= project.table_date_format(project.completion_date) %></td>
      <td class="table_actions">
        <%= link_to 'Show', project %><br />
        <%= link_to 'Edit', edit_project_path(project) %><br />
        <%= link_to 'Delete', project, method: :delete,
                    data: { :confirm => 'Are you sure?' } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
