- provide(:title, 'Projects Index')
= render 'project_header'

%table.project_table
  %thead
    %tr
      %th{scope: 'col'} Project Name
      %th{scope: 'col'} Website
      %th{scope: 'col'} Employer
      %th{scope: 'col'} Actions
  %tbody
    - @projects.each do |project|
      %tr
        %th.bold_name{scope: 'row'}= link_to project.name, project
        %td= project.website
        %td= project.employer
        %td.table_actions
          = link_to 'Show', project
          %br/
          = link_to 'Edit', edit_project_path(project)
          %br/
          = link_to 'Delete', project, method: :delete,
            data: { :confirm => 'Are you sure?' }
