- provide(:title, @project.name)
- content_for :page_header do
  %h1 
    Details
    %span.header_right
      Projects

%section#project_dates
  %section.date_block#project_name
    %h2= @project.name
    %i.fa.fa-calendar.fa-2x
  %section.date_block
    %h3.center_h3 Start Date
    = profile_date_format(@project.start_date)
  %section.date_block
    %h3.center_h3 Target Date
    = profile_date_format(@project.target_date)
  %section.date_block
    %h3.center_h3 Deadline
    = profile_date_format(@project.deadline)
  %section.date_block
    %h3.center_h3 Completion
    = profile_date_format(@project.completion_date)

.table_container.profile_container
  %table.profile_table
    %tbody
      %tr
        %th Role
        %td.profile_spacing= @project.role
      %tr
        %th Website
        %td.profile_spacing= @project.website
      %tr
        %th Status
        %td.profile_spacing= @project.status
      %tr
        %th Priority
        %td.profile_spacing= @project.priority
      %tr
        %th Notes
        %td.profile_spacing= @project.notes

%h3#project_images Images
%hr
- if @project.image_file_name
  = image_tag @project.image.url(:large)
  = image_tag @project.image.url(:thumb)
- else
  %p No images have been uploaded

%nav.site_links
  %ul
    %li
      = link_to 'Edit Project', edit_project_path(@project),
        class: 'button button-pill button-flat-primary'
    %li
      = link_to 'Delete Project', @project,
        class: 'button button-pill button-flat-primary', :method => :delete,
        data: { confirm: 'Are you sure you want to delete this project?' }
    %li
      = link_to "Back to Projects", projects_path,
        class: 'button button-pill button-flat-primary'
