- provide(:title, @project.name)
= render 'project_header'
= render 'profile_links'

%section.project_heading
  %h2= @project.name.capitalize
  %hr
  %section
    Website:
    = @project.website
  %section
    Notes:
    = @project.notes
  %section
    GitHub:
    = @project.github

%section.project_profile
  %section.project_images
  %h2 Images
  %hr
  - if @project.image_file_name
    = image_tag @project.image.url(:large)
    = image_tag @project.image.url(:thumb)
  - else
    %p No images have been uploaded

= render 'assignment_form'
