- provide(:title, @project.name)
= render 'project_header'

%section#project_dates
  %section.date_block#project_name
    %h2= @project.name
    %i.fa.fa-calendar.fa-2x

.table_container.profile_container
  %table.profile_table
    %tbody
      %tr
        %th Website
        %td.profile_spacing= @project.website
      %tr
        %th Notes
        %td.profile_spacing= @project.notes

%h3#project_images Images
%hr
- if @project.image_file_name
  = image_tag @project.image.url(:large)
  = image_tag @project.image.url(:thumb)
- else
  %p No images have been uploaded

%nav.site_links
  %ul
    %li
      = link_to edit_project_path(@project) do
        %button.btn.btn-form.btn-6.btn-6j Edit
    %li
      = link_to @project, method: :delete do
        %button.btn.btn-form.btn-6.btn-6j Delete
    %li
      = link_to projects_path do
        %button.btn.btn-form.btn-6.btn-6j Back
