- provide(:title, @project.name)
= render 'project_header'
= render 'profile_links'

%section.project_heading
  %h2= @project.name.capitalize
  %hr
  %section= @project.website
  %section= @project.notes

%section.project_profile
  %section.assignments
  %h2 Assignments
  %hr

  - unless @project.assignments.nil?
    = @project.assignments.each do |assignment|
      = assignment.description

  %section.project_images
  %h2 Images
  %hr
  - if @project.image_file_name
    = image_tag @project.image.url(:large)
    = image_tag @project.image.url(:thumb)
  - else
    %p No images have been uploaded

= render 'assignment_form'
= render 'bottom_navigation'
