<% provide(:title, @project.name) %>

<% content_for :page_header do %>
<h1>Details <small class="header_right">Projects</small></h1>
<% end %>

<h2 class="center"><%= @project.name %></h2>

<div class="table_container">

  <table class="profile" id="project_details">

    <thead>
      <tr>
        <th colspan="2">Project Details</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th>Role</th>
        <td class="profile_spacing"><%= @project.role %></td>
      </tr>
      <tr>
        <th>Status</th>
        <td class="profile_spacing"><%= @project.status %></td>
      </tr>
      <tr>
        <th>Priority</th>
        <td class="profile_spacing"><%= @project.priority %></td>
      </tr>
      <tr>
        <th>Notes</th>   
        <td class="profile_spacing"><%= @project.notes %></td>
      </tr>
    </tbody>
  </table>

  <table class="profile">

    <thead>
      <tr>
        <th colspan="2">Project Dates</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th>Start Date</th>
        <td class="profile_spacing">
          <%= @project.profile_date_format(@project.start_date) %>
        </td>
      </tr>
      <tr>
        <th>Target Date</th>
        <td class="profile_spacing">
          <%= @project.profile_date_format(@project.target_date) %>
        </td>
      </tr>
      <tr>
        <th>Deadline</th>
        <td class="profile_spacing">
          <%= @project.profile_date_format(@project.deadline) %>
        </td>
      </tr>
      <tr>
        <th>Completion Date</th>
        <td class="profile_spacing">
          <%= @project.profile_date_format(@project.completion_date) %>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<nav class="links">
  <ul>
    <li>
      <%= link_to 'Edit Project', edit_project_path(@project),
          class: "button button-pill button-flat-primary" %>
    </li>
    <li>
      <%= link_to 'Delete Project', @project,
          class: "button button-pill button-flat-primary",
          :method => :delete,
	        data: { confirm: 'Are you sure you want to delete this project?' } %>
    </li>
    <li>
      <%= link_to "Back to Projects", projects_path,
      class: "button button-pill button-flat-primary" %>
    </li>
  </ul>
</nav>
