- content_for :page_header do
  %h1 Admin: Users

  %nav
    %ul
      %li
        = link_to admin_root_path do
          %button.header-btn.btn-1.btn-1c= icon('eye', 'Admin')
      %li
        = link_to root_path do
          %button.header-btn.btn-1.btn-1c= icon('home', 'Home')
      %li
        = link_to admin_users_path do
          %button.header-btn.btn-1.btn-1c= icon('users', 'Users')
      %li
        = link_to new_admin_user_path do
          %button.header-btn.btn-1.btn-1c= icon('user', 'New')
