%a{href: '#', class: 'bt-menu-trigger'}
  %span Filler

%ul
  %li= link_to 'Projects', root_path
  %li= link_to 'Contacts', contacts_path
  %li= link_to 'Events',   events_path
  %li= link_to 'About',    about_path

%ul
  %li
    = link_to 'Twitter', 'https://twitter.com/count_x_y_z',
      class: 'bt-icon icon-twitter'
  %li
    = link_to 'GitHub', 'https://github.com/countxyz',
      class: 'bt-icon icon-github'

.bt-overlay