<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", 
  media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="page_wrapper">
    <nav id="side_menu">
      <%= render 'layouts/side_menu' %>
    </nav>
    <nav id="side_nav">
      <%= render 'layouts/side_nav' %>
    </nav>
    <section id="content">
      <%= render 'layouts/header' %>
      <section id="main_content">
        <%= yield %>
      </section>
    </section>
  </div>
</body>
</html>
