!!! 5
%html
  %head
    %meta{charset: 'utf-8'}/
    %title= full_title(yield(:title))
    = stylesheet_link_tag 'application', media: 'all',
      'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'highcharts.js', 'chartkick'
    = csrf_meta_tags

  %body
    .container-fluid
      %header= yield :page_header
      %nav.bt-menu= render 'layouts/border_nav'
      %section#notifications= render 'layouts/notifications'
      .row.content= yield
      %footer#main_footer= render 'layouts/footer'
