!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %title= full_title(yield(:title))
    = stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    #page_wrapper
      %nav#sidenav
        = render 'layouts/sidenav'
      #main
        %header#page_header
          = yield :page_header
        %section#notifications
          = render 'layouts/notifications'
        %section#content
          = yield
