= content_tag_for(:tr, account, 'data-id' => account.id)
%tr
  %th.bold_name{scope: "row"}= account.name
  %td= data_format(account.website)
  %td= data_format(account.email)
  %td= phone_format(account.phone)
  %td= phone_format(account.fax)
  %td= link_to 'Show', account, class: 'btn', id: 'btn-index-show'
