%tr{ class: ('danger' unless account.active?) }
  %td= account_counter + 1
  %th.bold_name{ scope: 'row' }= link_to account.name, account
  %td= data_format(account.website)
  %td= data_format(account.company_location)
  %td= l account.created_at, format: :index_table
  %td= status_format(account.active)
