%table.table.table-hover#ai-table
  %tbody
    %tr
      %th Account
      %td= @account.name
    %tr
      %th Website
      %td= data_format(@account.website)
    %tr
      %th Email
      %td= data_format(@account.email)
    %tr
      %th Office Phone
      %td= phone_format(@account.phone)
    %tr
      %th Fax
      %td= phone_format(@account.fax)
    %tr
      %th Notes
      %td= data_format(@account.notes)
