= content_tag_for(:tr, account, 'data-id' => account.id)
%tr
  %th.bold_name{ scope: 'row' }= link_to account.name, account
  %td= data_format(account.website)
  %td= data_format(account.email)
  %td= phone_format(account.phone.office)
