%table.table.table-hover#ai-table
  %tbody
    %tr
      %th Account
      %td= @account.name
    %tr
      %th Website
      %td= data_format(@account.website)
    %tr
      %th Location
      %td= data_format(@account.company_location)
    %tr
      %th Notes
      %td= data_format(@account.notes)
    %tr
      %th Created By
      %td= @account.user.handle
    %tr
      %th Created At
      %td= l @account.created_at, format: :profile
    %tr
      %th Last Updated
      %td= l @account.updated_at, format: :profile
    %tr
      %th Status
      %td= status_format(@account.active)
