%table.table.table-hover#ai-table
  %tbody
    %tr
      %th Account
      %td= @account.name
    %tr
      %th Website
      %td= data_format(@account.website)
    %tr
      %th Email
      %td= data_format(@account.email)
    %tr
      %th Notes
      %td= data_format(@account.notes)
    %tr
      %th Created By
      %td= @account.user.handle
    %tr
      %th Created At
      %td= @account.created_at
    %tr
      %th Last Updated
      %td= @account.updated_at
