= simple_form_for @account do |f|
  .row
    .col-md-4
      %legend.bold_title General
      = render 'account_form', f: f

      = f.simple_fields_for :emails, @account.emails.build do |builder|
        = render 'shared/email/email_form', builder: builder

      %legend.bold_title Phone
      = f.simple_fields_for :phone, @account.build_phone do |builder|
        = render 'shared/phone/phone_form', builder: builder

    .col-md-5.col-md-offset-1
      %legend.bold_title
        Social Media
        %span.caret.caret-form.pull-right#social-media-caret
      .hidden#social-media-form
        = f.simple_fields_for :social_media,
          @account.build_social_media do |builder|
          = render 'shared/social_media/social_media_form', builder: builder

      %legend.bold_title
        Billing Address
        %span.caret.caret-form.pull-right#billing-address-caret
      .hidden#billing-address-form
        = f.simple_fields_for :billing_address,
          @account.build_billing_address do |builder|
          = render 'shared/address/address_form', builder: builder

      %legend.bold_title
        Shipping Address
        %span.caret.caret-form.pull-right#shipping-address-caret
      .hidden#shipping-address-form
        = f.simple_fields_for :shipping_address,
          @account.build_shipping_address do |builder|
          = render 'shared/address/address_form', builder: builder

      %span.pull-right= f.button :submit
