= simple_form_for @account do |f|
  .col-md-4
    = f.input :name
    = f.input :phone
    = f.input :fax 
  .col-md-2
  .col-md-6
    = f.input :website
    = f.input :email
    = f.input :notes, as: :text, input_html: { rows: 5 }   
    = f.button :submit, class: 'submit-right'
