- provide(:title, 'Accounts')
= render 'account_header'

.row
  .col-md-10
    .panel.panel-default
      .panel-heading
        Accounts
        %span.pull-right
          = page_entries_info @accounts
      .panel-body
        = render 'shared/index_panel', url: accounts_path

      %table.table.table-hover
        %thead
          %tr
            %th{ scope: 'col' } #
            %th{ scope: 'col' } Account
            %th{ scope: 'col' } Website
            %th{ scope: 'col' } Location
            %th{ scope: 'col' } Created
            %th{ scope: 'col' } Status
        %tbody= render @accounts

.row
  .col-md-6.col-md-push-3
    = will_paginate @accounts
