- provide(:title, @account.name)
= render 'account_header'

= render 'navbar'

.row.profile-tables
  .col-md-4= render 'account_info'
  .col-md-4= render partial: 'shared/phone_book',   locals: { klass: @account }
  .col-md-4= render partial: 'shared/social_media', locals: { klass: @account }

.row.profile-tables
  .col-md-4= render 'billing_address'
  .col-md-4= render 'shipping_address'
